nav{
    background-color: rgb(0, 39, 76);
    color: rgb(255, 203, 5);
    text-decoration: none;
}

main{
    margin: 5%;
}


h1{
    /* background-color: navy;
    color: whitesmoke; */
}